	#contents h2{
	text-align:center;
	}

	#contents .titleMessage{
	width: 700px;
    margin: 0 auto;
    text-align:center;
	}

	.form2{
	text-align:center;
	}

	.btn_set{
	text-align:center;
	margin-top:20px;
	}

	.checkbox-image{
	posision:relative;
	float:left;
	}

	.checkbox{
	float:left;
	padding-top:120px;
	}

	.gorigori {
	margin-left:50px;

	}

	.gorigori img{
	width:200px;
	height:200px;
	border-radius:20px;
	box-shadow: 0px 0px 30px #848484;
	margin-left:10%;
	margin-top:20px;
	}

	.horizontal-list-table {
	display:block;
	}

	.border{
	border-top:8px solid black;
	margin:15px 0px 30px 0px;
	}
	.floatclear{
	clear: both;
	}

	.textbox{
	left:80px;
	position:relative;
	}

	.totalprice{
	color: #D8000C;
	font-size: 180%;
    margin: 50px 0 30px 0;
	}

	table .product_name{
	font-color:#00FFFF;
	}

	.product_name_font{
	font-size:30px;
	}

	.furigana td{
	font-size:10px;
	margin-bottom:-20px;
	text-align:left;
	}

	.product_name_align{
	text-align:left;
	}

	.priceprice th{
	font-size:20px;
	color: #D8000C;
	}

	.countcount th{
	font-size:15px;
	color: #D8000C;
	}

	.counting{
	text-align:left;
	}

	.countName{
	text-align:right;
	}

	.subtotal{
	text-align:left;
	}

	.price-align{
	text-align:left;
	}

	.a{
	text-align:center;
	border-bottom:8px solid black;
	margin:20px 15% 10px;
	box-sizing:border-box;
	min-width:600px;
	}

	.subtotal{
	font-size:30px;
	}