@CHARSET "UTF-8";

/* ======= createUser ======= */

#contents{
	max-width: 700px;
	margin: auto;
}

#contents h1{
	font-size: 30px;
	border-left: solid 15px #c0c0c0;
	padding-left: 15px;
}

.input-form{
	background-color: #dcdcdc;
	border-radius: 25px;
	padding: 100px 20px;
	margin: 20px 0;
}

.input-form-set{
	padding: 10px 100px;
}

.input-form-title{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding: 2px 0 2px 30px;
	margin-bottom: 5px;
	margin-left: -25px;
}

.input-form-hissu{
	font-size: 15px;
	background-color: red;
	margin-left: 20px;
	margin-rigth: 8px;
	padding: 1px 2px;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 3px;
}

.txt{
	font-size: 10px;
	width: 98%;
	height: 30px;
	border-radius: 20px;
	box-shadow: 0 0 10px black;
	padding: 0 0 0 3%;
	margin-bottom: 20px;
}

/* =============== createUserConfirm =============== */

#contents{
	max-width: 700px;
	margin: auto;
}

#contents h1{
	font-size: 30px;
	border-left: solid 8px #c0c0c0;
	padding-left: 15px;
}

#contents p{
	padding: 20px 0 0 0;
	text-align: center;
	text-weight: bold;
	font-size: 20px;
}

.form-confirm{
	background-color: #dcdcdc;
	border-radius: 25px;
	padding: 50px 20px;
	margin: 20px 0;
}

table{
	border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 15px;
}

table width{
	width: 80%;
}

table th,td{
	padding: 0 50px;
}

table th{
	border-right: dashed 3px black;
}

table td{
	text-align: left;
}

/* =============== createUserComplete =============== */

#contents{
	max-width: 700px;
	margin: auto;
}

.success{
	background-color: #dcdcdc;
	border-radius: 25px;
	padding: 80px 20px;
	text-align: center;
	font-size: 25px;
	fone-weight: bold;
}
