
	body, html {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		min-width: 800px;
	}

	#contents{
		width: 80%;
		margin: auto;
		padding-bottom: 100px;
	}

	#contents > #title-center{
		text-align: center;
	}

	#contents > #title-left{
		padding-left:20px;
		border-left:10px solid lightgray;
	}

	.submit_btn{
		text-align:center;
		padding: 0.3em 1em;
		text-decoration: none;
		color: grey;
		background:white;
		border: solid 2px grey;
		border-radius: 10px;
		transition: .3s;
		font-size:18px;
	}

	.submit_btn:hover{
		background: grey;
		color: white;
	}

	.error{
		font-size : 0.8em;
		margin-left : 3%;
		width : 80%;
		color: #D8000C;
	}
