@charset "UTF-8";


		.log{
			text-align:center;
			margin-top:10px;
		}

		.sinki{
			margin-top:20px;
			text-align:center;
		}

		.henkou{
			margin-right:20px;
			float:right;
			color:black;
			text-decoration:none;
		}
