
@charset "UTF-8";

.purchaseDetails{
	width:800px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

#purchaseImage{
	border-top:20px solid black;
	width:800px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
}

#purchaseImage > #left{
	position:relative;
	top:20px;
	float:left;
	left:70px
}

#purchaseImage > #right{
	float:left;
	position:relative;
	top:50px;
	left:160px;
	font-size:16px;
	bottom:10px;
}

#right td{
	position:relative;
	left:20px;
}

.purchaseHistory_btn{
	position:relative;
	bottom:20px;
	left:350px;
}

.purchaseHistory2_btn{
	display:inline-block;
 	display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #FF99FF;
    background:white;
    border: solid 2px #FF99FF;
    border-radius: 3px;
    transition: .4s;
    font-size:18px;

	}

.purchaseHistory2_btn:hover{
	background: #FF99FF;
    color: white;
}


.purchaseHistoryA{
	width:1000px;
	margin:auto;
	}

.pageTitle2{

	margin-left:0px;
	border-left: solid 10px #A4A4A4;
	font-size:25px;
	position:relative;
	bottom:30px;
	}

.info2{
	padding-left:100px;
	font-size:20px;
	}

.purchase_img{
	border-radius: 35px;
	width:240px;
	height:210px;
	box-shadow:6px -6px 8px;
	}

