body, html {
	margin : 0;
	padding : 0;
	width : 100%;
	height : 100%;
}

form{
	display:block;
	margin-top:0px;
}

.error {
	font-size : 0.8em;
	margin-left : 3%;
	width : 80%;
	color: #D8000C;
	background-color: #FFBABA;
}

.error-message {
	color : red;
}

.vertical-list-table{}

.txt {
	width : 99%;
	height : 30px;
	border: 0.5px solid #999;
	font-size : 24px;
}

.txt:focus {
	border: 1px solid #ff9900;
	outline: 0;
}


.submit_btn_box{


}

.submit_btn{}

.success{}

.vertical-list-table{}

.CreateUserCompleteAction{}

.box{}

.vertical-list-table-mini{}

.2column-container{}

.colum1{}

.item-image-box-320{}

.colum2{}

.vertical-list-table-mini{}

.recommend-box{}

.item-image-box-100{}

.product-list-box{}

.item-image-box-200{}

.horizontal-list-table{}

.info{}

#form{}

#contents {
	height : 100%;
	padding-bottom : 100px;
	padding-top : 70px;
	margin-top : 50px;
	margin : 30px auto;
	width: 700px;

}


#footer{}

#error{}

#product-list{}

#contents-btn-set{}

.form-confirm{}

.SettlementCompleteAction{}

.recommend-box{}

